
@blue: #2196F3;
@pink: #E91E63;
@androidgreen: #A4C739;
@green: #009688;
@purple: #673AB7;
@indigo: #3F51B5;
@yellow: #FFEB3B;
@white: #fff;
@black: #000;
@gray: #9E9E9E;
@darkgray: #424242;

html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	background: @white;
	font-family: 'Droid Sans', Arial, sans-serif;
}

// mixins + misc classes

.radius(@rad){
	border-radius: @rad;
	-webkit-border-radius: @rad;
	-moz-border-radius: @rad;
}

.shadow{
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
}

.clear{
	clear: both;
}



// footer

footer{
	background: darken(@pink, 10%);
	padding: 10px 10%;
	color: @white;
	font-size: 11pt;
	text-align: center;

	ul.footerNav{
		margin: 0; 
		padding: 0;
		text-align: left;
		float: left;
		width: 60%;

		li{
			display: inline;
			margin: 0 10px;

			a{
				color: @white;
				text-decoration: none;

				&:hover{
					color: @yellow;
				}
			}
		}
	}

	p.copyright{
		text-align: right;
		float: right;
		font-size: 11pt;
		color: @white;
		width: 30%;
		margin: 0;
		line-height: 12px;
	}
}